.input {
  padding: 10px 30px;
  margin-top: 50px;
  border-radius: 8px;
  border: 1px solid gray;
}

button {
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
}

button:hover {
  color: red;
  cursor: pointer;
  background-color: yellow;
}
